<div class="reviewpageheader">
	<div class="d-flex justify-content-between reviewheader_content p-4">
		<div class="reviewheading">
			<h5>Score Card</h5>
			<p class="m-0"><span class="text-muted">Achievement Test 1 :</span> Biology - Reproduction in organism</p>
		</div>
		<div class="d-flex justify-content-center align-items-center">
			<button class="btn back_btn">Back to course</button>
		</div>
		
	</div>
	<div class="px-4 pb-5 pt-4">
		<div class="review_card">
			<div class="row">
				<div class="col-md-2">
					<h5 class="review_data">14/15</h5>
					<p class="review_label">you,re Scored</p>
				</div>
				<div class="col-md-2">
					<h5 class="review_data">00:10:00</h5>
					<p class="review_label">Time taken</p>
				</div>
				<div class="col-md-2">
					<h5 class="review_data">19</h5>
					<p class="review_label">Correct</p>
				</div>
				<div class="col-md-2">
					<h5 class="review_data">1</h5>
					<p class="review_label">Wrong</p>
				</div>
				<div class="col-md-2">
					<h5 class="review_data">0</h5>
					<p class="review_label">Not Answered</p>
				</div>
				<div class="col-md-2">
					<h5 class="review_data">1</h5>
					<p class="review_label">Attempt</p>
				</div>
			</div>
		</div>
	</div>
</div>